[submodule "linux/desktop/kde/kwin-last-used-desktop"]
	path = linux/desktop/kde/kwin-last-used-desktop
	url = https://github.com/NoahHakansson/kwin-last-used-desktop.git
[submodule "linux/desktop/kde/krohnkite"]
	path = linux/desktop/kde/krohnkite
	url = https://github.com/esjeon/krohnkite.git
[submodule "code/gp.nvim"]
	path = code/gp.nvim
	url = git@github.com:Robitx/gp.nvim.git
