[submodule "external/tmuxp"]
	path = external/tmuxp
	url = git@github.com:mainliufeng/tmuxp.git
[submodule "external/inquirer"]
	path = external/inquirer
	url = git@github.com:magmax/python-inquirer.git
