wallpapers/bing_wallpaper_AdansoniaGrandidieri_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_EiffelBelow_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_ZhangjiajieLandscape_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_SteyrRiver_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_Andromeda_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_Aracari_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_CosmicCliffs_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_MossyGrottoFalls_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
wallpapers/bing_wallpaper_NeistPoint_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
