{
  "name": "__APP_NAME__",
  "short_name": "__APP_SHORT_NAME__",
  "description": "__APP_DESC__",
  "id": "__SCOPE__",
  "start_url": "__START_URL__",
  "scope": "__SCOPE__",
  "display": "standalone",
  "background_color": "#161618",
  "theme_color": "#161618",
  "icons": [
    {"src": "__ICON__", "sizes": "512x512", "type": "image/png", "purpose": "any"},
    {"src": "__ICON__", "sizes": "512x512", "type": "image/png", "purpose": "maskable"}
  ]
}
