[Desktop Entry]
Categories=Development;
Comment=Clash Verge Rev
TryExec=/usr/bin/clash-verge
Exec=/bin/sh -c 'if [ "${XDG_SESSION_TYPE:-}" = "wayland" ] && { [ -n "${HYPRLAND_INSTANCE_SIGNATURE:-}" ] || case "${XDG_CURRENT_DESKTOP:-}" in *Hyprland*|*hyprland*) true;; *) false;; esac; }; then export GDK_SCALE=1; export GDK_DPI_SCALE=0.5; fi; exec /usr/bin/clash-verge "$@"' sh %u
StartupWMClass=clash-verge
Icon=clash-verge
Name=Clash Verge
Terminal=false
Type=Application
MimeType=x-scheme-handler/clash;
